body {
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background-color: #1abc9c;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: azure;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: #212121;
}

.navbar a.right {
    float: right;
}

.navbar a.left {
    color: #4C90F2;
    font-weight: bold;
}

h1 {
    color: #af058a;
}

.fakeimg {
    background-color: #7c6e6e;
    width: 100%;
    padding: 3px;
    height: 50%;
}

.row {
    display: flex;
}

.side {
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}